#header {
    font-size: 68px;
    margin-top: 50px;
    font-weight: normal;
}

#msg {
    font-style: italic;
    font-size: 36px;
    color: #f12469;
    margin-top: 50px;
}

#button {
    border-radius: 30px;
    height: 40px;
    width: 335px;
    background-color: #f12469;
    font-size: 20px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 50px;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    border-width: 20px;
    border-style: solid;
    border-color: #fcd2d8;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Styles for larger screens */
@media screen and (min-width: 720px)
{
    .flex
    {
        display: flex;

        max-width: 1200px;
        margin: 0 auto;

        justify-content: space-around;
    }

    header
    {
        min-height: 450px;
    }

    .nav
    {
        max-width: 1200px;
    }

    .nav .name
    {
        display: block;

        margin-right: auto;

        color: white;
    }

    main
    {
        padding-top: 50px;
    }

    main p
    {
        line-height: 1.6em;
    }

    footer
    {
        font-size: 1.3em;

        max-width: 1200px;
        margin: 0 auto;
    }
}

h3
{
    letter-spacing: .5px;

    color: maroon;
}

img
{
    max-width: 100%;
}

.card-title,
.section-title
{
    margin-top: 50px;

    text-align: center;

    border: .4rem solid;
}

